%h1 Goals index
= link_to "New goal", new_goal_path
.goals
  - @goals.each do |goal|
    %hr
    %ul.goal
      %li.goalName= link_to goal.goal_name, goal_path(goal.id)
      %li.editGoal= link_to "edit", edit_goal_path(goal.id)
      %li.deleteGoal= link_to "delete", goal_path(goal), :method => :delete
      %li.goalDetails 
        we want to 
        = goal.goal_type 
        = goal.count
        = goal.measure
        in
        = goal.time_count
        = goal.time_measure 
      - unless goal.private?
        %li.joinGoal= link_to "I want to join", goal_path(goal.id)        